body {
	background: black;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 60px;
	height: 60px;
}
.postcard-header h1 {
	width: 89%;
	margin: 6;
	font-family: Georgia;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
	font-size: 13px;
	font-family: Georgia;
}
.body-left,
.body-right {
	padding: 6px;
}
input {
	border: none;
	border-bottom: 1px solid rgb(167, 165, 165);
	font-weight: bold;
	font-size: 13px;
	font-family: Georgia;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(187, 186, 186);
	padding: 5px;
	border: 0;
}